/*  start variable */
:root{
    --Soft-orange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);

    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
   --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);
    
  }
  @font-face {
    font-family: "Inter-ExtraBold";
    src: url(../assets/fonts/static/Inter-ExtraBold.ttf);
  }
  @font-face {
    font-family:"Inter-Bold" ;
    src: url(../assets/fonts/static/Inter-Bold.ttf);
  }
  @font-face {
    font-family: "Inter-Regular";
    src: url(../assets/fonts/static/Inter-Regular.ttf);
  }
  /* end variable */

  /* Start Global Rules */
  * {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    html {
      scroll-behavior: smooth;
    }
  
    .container {
      padding-left: 15px;
      padding-right: 15px;
      margin-left: auto;
      margin-right: auto;
    }
    /* Small */
    @media (min-width: 768px) {
      .container {
        width: 750px;
      }
    }
    /* Medium */
    @media (min-width: 992px) {
      .container {
        width: 970px;
      }
    }
    /* Large */
    @media (min-width: 1200px) {
      .container {
        width: 1170px;
      }
    }
    /* End Global Rules */

    /* start header section  */
    header{

    }
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
header .container nav ul{
    display: flex;
    list-style: none;
}
@media (max-width:767px) {
  header .container nav ul{
    display: none;
  } 
  .show {
    /* display: block ; */
    display: flex !important;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;
    width: 80%;
    height: 100vh;
    background-color: white;
    -webkit-box-shadow: -32px 0px 0px 0px rgba(0, 0, 0, 0);
    -moz-box-shadow: -32px 0px 0px 0px rgba(0,0,0,0.75);
    box-shadow: -32px 0px 0px 0px rgba(0, 0, 0, 0.057);
}
header .container nav ul li {
  margin-left: 0 !important;
  padding: 15px 0;
}
}header .container nav img{
  line-height: 1.8;
  font-size: 16px;
}
@media (min-width:767px) {
  header .container nav img{
    display: none;
  } 

  
}
header .container nav ul li{
    margin-right: 30px;
}
header .container nav ul li a{
text-decoration: none;
color:#030202 ;
font-size: 14px;
font-family: "Inter-Regular", sans-serif;
}
    /* end header section  */
    /* start mainn section  */
main .container{
margin-top: 30px;
}
main .container .box{
    display: flex;
    flex-wrap: wrap;
}
main .container .box .landing{
    width: 700px;
    max-width: 100%;
    margin-right: 20px;
}
main .container .box .landing img{
   width: 800px;
   max-width: 100%;
}
main .container .box .landing .title{
    display: flex;
    
    flex-wrap: wrap;
}
main .container .box .landing .title h1{
   font-size: 33px;
   font-family: "Inter-ExtraBold" ,sans-serif;
   font-weight: 700;
   line-height: 1.5;
   width: 250px;
}
main .container .box .landing .title .paragraph{
    margin-left: 30px;
}
@media screen and (max-width:760px){
  main .container .box .landing .title .paragraph{
    margin-left: 0px;
}
}
main .container .box .landing .title p{
    color: #8c96a7;
    font-size: 16px;
    line-height: 1.5;
    width: 350px;
    font-family: "Inter-Regular", sans-serif;
    
}
main .container .box .landing .title button{
    padding: 10px;
    background-color: var(--Soft-red);
    border: none;
    width: 150px;
    margin-bottom: 20px;
}
main .container .box .news{
    padding: 10px;
    background-color: var(--Very-dark-blue);
    width: 400px;
}
main .container .box .news h1{
    color: orange;
    font-family:"Inter-Bold" ,sans-serif;
}
main .container .box .news .last{
    padding-top: 5px;
    
    padding: 10px;
}
main .container .box .news .last:not(:last-child){
    border-bottom: 1px solid var(--Grayish-blue);
}
main .container .box .news .last h3{
   color: var(--Off-white);
   font-family:"Inter-Bold" ,sans-serif;
}
main .container .box .news .last p{
    color: var(--Grayish-blue);
    line-height: 1.5;
    font-size: 16px;
    font-family: "Inter-Regular", sans-serif;
}
main .container .levels{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    grid-gap: 30px;

}
main .container .levels .lev{
    display: flex;
}
main .container .levels .lev img{
    width: 100px;
    /* height: 100px; */
}
main .container .levels .lev .descript{
    margin-top: -25px;
    margin-left: 10px;
}
main .container .levels .lev .descript h1{
    font-size: 35px;
    margin-bottom: -5px;
    color: var(--Grayish-blue);
    font-family:"Inter-ExtraBold" ,sans-serif;
}
main .container .levels .lev .descript h3{
    font-family:"Inter-Bold" ,sans-serif;
}
main .container .levels .lev  .descript p{
    color: var(--Dark-grayish-blue);
    line-height: 1.5;
    font-family: "Inter-Regular", sans-serif;
}
    /* end main section  */